@model MineSweeperAPI.Models.Game

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="XDimension" class="control-label"></label>
                <input asp-for="XDimension" class="form-control" />
                <span asp-validation-for="XDimension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YDimension" class="control-label"></label>
                <input asp-for="YDimension" class="form-control" />
                <span asp-validation-for="YDimension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBombs" class="control-label"></label>
                <input asp-for="NumberOfBombs" class="form-control" value="0"/>
                <span asp-validation-for="NumberOfBombs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
