@model MineSweeperAPI.Models.Game

@{
    ViewData["Title"] = "Play";
}

<h1>GAME:</h1>

<div id="mainDiv" style="margin: 20px;">
    <partial name="_PlayPartialView" />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


